
<!-- Carrito-->
<!-- Caja general -->
<div class="mega-box">
    <div class="row box">
        <!-- Caja de productos -->
        <div class="col-8 box-shadow in-flex table sub-box ">
            <h2 class="titulo">Carrito</h2>
            <!-- Productos -->
            <table class="table ">
                <tr>
                    <td width="30%">
                        <div class="box-img">
                            <img 
                            src="../../../assets/img/icon.png" 
                            alt=""
                            class="img-item">
                        </div>
                    </td>
                    <td width="70%">
                        <div class="box-item">
                            <div class="box-datos">
                                <h5>Nombre del producto</h5>
                                <h5> $155,05</h5>
                            </div>
                            <div class="panel-item">
                                <button class="btn-panel"> ver tienda</button>
                                <button class="btn-panel"> eliminar</button>
                                <form class="box-form" action="">
                                    <button class="btn-panel-input i">-</button>
                                    <input class="input-panel" type="numer" name="" id="">
                                    <button class="btn-panel-input d">+</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td width="30%">
                        <div class="box-img">
                            <img 
                            src="../../../assets/img/icon.png" 
                            alt=""
                            class="img-item">
                        </div>
                    </td>
                    <td width="70%">
                        <div class="box-item">
                            <div class="box-datos">
                                <h5>Nombre del producto</h5>
                                <h5> $155,05</h5>
                            </div>
                            <div class="panel-item">
                                <button class="btn-panel"> ver tienda</button>
                                <button class="btn-panel"> eliminar</button>
                                <form class="box-form" action="">
                                    <button class="btn-panel-input i">-</button>
                                    <input class="input-panel" type="numer" name="" id="">
                                    <button class="btn-panel-input d">+</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr><tr>
                    <td width="30%">
                        <div class="box-img">
                            <img 
                            src="../../../assets/img/icon.png" 
                            alt=""
                            class="img-item">
                        </div>
                    </td>
                    <td width="70%">
                        <div class="box-item">
                            <div class="box-datos">
                                <h5>Nombre del producto</h5>
                                <h5> $155,05</h5>
                            </div>
                            <div class="panel-item">
                                <button class="btn-panel"> ver tienda</button>
                                <button class="btn-panel"> eliminar</button>
                                <form class="box-form" action="">
                                    <button class="btn-panel-input i">-</button>
                                    <input class="input-panel" type="numer" name="" id="">
                                    <button class="btn-panel-input d">+</button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
    
        </div>
        <!-- Caja lateral para el Checkout-->
        <div class="col-4 in-flex sub-box box-resumen ">
            <div class="box-shadow sub-box-resumen">
                <h4> Tu compra</h4>
            <!-- resumen -->
            <div class="box-texto">
                <p> Total de prodcusto: </p> 
                <p> $155,05</p>
            </div> 
            <div class="box-texto">
                <p> Envio: </p> 
                <p> $12,75</p>
            </div> 
            <div class="box-texto">
                <p>Total: </p> 
                <p> $167,80</p>
            </div>
            <button class="btn-comprar"> Comprar</button>
            </div>
            <div class="box-shadow sub-box-resumen">
                <form  action="">
                    <h6>Tienes un cupon de descuento?</h6>
                    <input class="input-off" type="text">
                    <button type="submit" class="btn-comprar"> Aplicar descuento</button>
                </form>
            </div>
        </div>
    </div>
</div>
