.color{
    background-color: #aff4f1;
    margin-left: 2px solid gray;
}


.logo img{
    width: 50px;
    background-color: black;
    margin-right: 10px;
}


.separar{
    display: inline;
    justify-content: space-between;
}


.button{
    font-weight: 150;
    color: black;
    border: none;
    border-radius: 5px;
    padding: 10px 18px;
    margin-right: 0.5em;
    padding-bottom: 10px;
    background: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}


.button:hover{
    background: #d10797;
    color: white;
}
