<div class="box-categoria">
    <h2>Tus categoria</h2>
<div class="flex-box">
    <div class="box ">
        <div class="card mini-box" style="width: 18rem;">
            <div class="box-img">
                <img src="../../../assets/img/descarga.jpg" class="img-categoria" alt="..">
            </div>
            <div class="box-dato">
              <h5 class="card-title">Comida</h5>
              <a href="#" class="btn">Ver tiendas  ></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="card mini-box" style="width: 18rem;">
            <div class="box-img">
                <img src="../../../assets/img/descarga.jpg" class="img-categoria" alt="..">
            </div>
            <div class="box-dato">
              <h5 class="card-title">Comida</h5>
              <a href="#" class="btn">Ver tiendas  ></a>
            </div>
        </div>
    </div>
    <div class="box">
        <div class="card mini-box" style="width: 18rem;">
            <div class="box-img">
                <img src="../../../assets/img/descarga.jpg" class="img-categoria" alt="..">
            </div>
            <div class="box-dato">
              <h5 class="card-title">Comida</h5>
              <a href="#" class="btn">Ver tiendas  ></a>
            </div>
        </div>
    </div>
</div>
</div>